.vscode/**
.github/**
.githooks/**
node_modules/**
src/**
test/**
re/**
docs/**
RELEASE_NOTE.md
esbuild.js
tsconfig.json
bunfig.toml
bun.lock
bun.lockb
package-lock.json
**/*.map
.gitignore
.gitattributes
docs/
